## Define a dog or a cat

Importing libraries:

In [4]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split

In [5]:
from IPython.display import SVG
from graphviz import Source
from IPython.display import display

In [6]:
from IPython.display import HTML
style = "<style>svg{width: 50% !important; height: 50% !important;} </style>"
HTML(style)

Improting train data:

In [7]:
data = pd.read_csv('dogs_n_cats.csv')

In [8]:
data.head(80)

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0      15    18.0         1        1                   0  собачка
1      20    24.0         1        0                   0  собачка
2      34    40.8         1        1                   0  собачка
3      26    31.2         1        1                   0  собачка
4      16    19.2         1        1                   0  собачка
..    ...     ...       ...      ...                 ...      ...
75     17    20.4         1        1                   0  собачка
76     28    33.6         1        1                   0  собачка
77     22    26.4         1        1                   0  собачка
78     15    18.0         1        1                   0  собачка
79     16    19.2         1        1                   0  собачка

[80 rows x 6 columns]

Defining float feature matrix X and float target vector y:

In [9]:
X = data.drop(['Вид'], axis=1)
y = data['Вид']

Defining train and test set:

In [10]:
X_train, y_train, X_test, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

Creation of the tree and fiting X and y into it. Checking the condition with JSON file

In [11]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [12]:
clf.fit(X, y)

DecisionTreeClassifier(criterion='entropy')

In [13]:
df_ts = pd.read_json(r'dataset_209691_15.txt', encoding = "UTF-8")

In [14]:
len(df_ts)

100

In [15]:
df_ts.query('Длина > 14.5').count()

Длина                 44
Высота                44
Шерстист              44
Гавкает               44
Лазает по деревьям    44
dtype: int64